/*
  This file is for base element styles, like:

  - Any @font-face declarations needed custom web fonts.
  - Default font-family on the body element.
  - Default foreground, background, and link colors.
  - Global CSS variables (declared on :root), such as color palette.
*/

@font-face {
  font-family: "Geist";
  src: url("@assets/fonts/geist/GeistVariableVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("@assets/fonts/dm_sans/DMSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraCode";
  src: url("@assets/fonts/fira_code/FiraCodeVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  :root {
    --background: 60 5% 96%;
    --foreground: 158 65% 9%;

    --primary: 152 62% 39%;
    --primary-foreground: 143 62% 96%;

    --secondary: 30 2% 43%;
    --secondary-foreground: 60 5% 96%;

    --muted: 60 2% 90%;
    --muted-foreground: 30 1% 31%;

    --accent: 145 56% 80%;
    --accent-foreground: 156 64% 20%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --success: 87 100% 37%;
    --success-foreground: 0 0% 100%;

    --border: 45 3% 69%;
    --input: 45 3% 69%;
    --ring: 145 56% 80%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 158 65% 9%;
    --foreground: 60 5% 96%;

    --primary: 152 62% 39%;
    --primary-foreground: 143 62% 96%;

    --secondary: 30 2% 43%;
    --secondary-foreground: 60 5% 96%;

    --muted: 30 1% 31%;
    --muted-foreground: 60 2% 90%;

    --accent: 155 69% 24%;
    --accent-foreground: 141 61% 90%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --success: 84 81% 44%;
    --success-foreground: 0 0% 100%;

    --border: 45 2% 60%;
    --input: 45 2% 60%;
    --ring: 155 69% 24%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  :root {
    --font-sans: DMSans;
    --font-mono: FiraCode;
  }
}
